{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
           integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>October</title>
</head>
<body>
<div id = content>
    <h3>Calculator</h3>
<form action="">
    {% csrf_token %}
  <label for="fname">A:</label><br>
  <input type="fname" id="a" name="a" ><br>
  <label for="lname">B:</label><br>
  <input type="lname" id="b" name="b"><br><br>
    <a class="btn btn-primary" id="add" href="add/">add</a>
    <a class="btn btn-primary" id="subtract" href="subtract/">subtract</a>
    <a class="btn btn-primary" id="multiply" href="multiply/">multiply</a>
    <a class="btn btn-primary" id="divide" href="divide/">divide</a>
</form>
    </div>
<div id = "container">

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
 <script src="{% static "js/main.js" %}"></script>
</body>
</html>